.caret {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #68778e;
    margin-left: 6px;
    cursor: pointer;
}